<ul class="country-list">
    {{#each this}}
    <li class="country-list">
        <span class="country-list">{{name}}</span>
        <img src=" {{flag}}" alt="{{this.name}}" width="50px">
    </li>
    {{/each}}
</ul>